@{
    Layout = "_LayoutAcount";
}

<center>

    <div class="m-auto p-5  bg-opacity-50 bg-black rounded text-white">

        <h1 class="   text-uppercase ">

            welcome to route acadimy login

        </h1>
        <p class="text-uppercase"> RAWAN MOGAMMED</p>
    </div>
</center>