




<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link href="~/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet" />

</head>
<body>
    <nav class="  p-5   m-5">


        <center>


@* 
            @Html.ActionLink("Home",
                     "Index", "Home", null, new {@class= "btn btn-danger"
    }) *@

        <!-- #region name --> 

            

<!-- #endregion -->

            <a class="  btn   btn-primary" asp-controller="Home" asp-action="Index" >Home</a>
            <a class="  btn   btn-primary" asp-controller="Home" asp-action="Contactus">Contact</a>
            <a class=" btn btn-info" asp-controller="Home" asp-action="Privacy">Privacy</a>
            <a class="btn btn-secondary" asp-controller="Home" asp-action="About">About</a>
            <a class="btn btn-info" asp-controller="Acount" asp-action="Login">Login</a>
            <a class="btn btn-secondary" asp-controller="Acount" asp-action="Register">Register</a>




        </center>




    </nav>
    <div>
        @RenderBody()



    </div>



    <footer class="mt-5">


        <p class="text-uppercase p-1">  Copywrite &copy;   Route    @DateTime.Now.Year             </p>




    </footer>
</body>
</html>
