<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
</head>
<body>
    <nav class="  p-5   m-5">


        <center>

            <a class=" btn  btn-danger" href="/Home/index">Home</a>
            <a class="  btn   btn-primary" href="/Home/Contactus">Contact us</a>
            <a class=" btn btn-info" href="/Home/Privacy">Privacy</a>
            <a class="btn btn-secondary" href="/Home/About">About</a>
            <a class="btn btn-info" href="/Acount/Login">Login</a>
            <a class="btn btn-secondary" href="/Acount/Register">Register</a>




        </center>




    </nav>
    <div>
    <div>
        @RenderBody()
    </div>
        <footer class="mt-5">


            <p class="text-uppercase p-1">  Copywrite &copy;   Route    @DateTime.Now.Year             </p>




        </footer>
</body>
</html>
